/* Default Styles
---------------------------------------------------------------------------------------------------- */

.fluid {
	width: 100%;
	height: auto;
}

h1 {
	font-weight: bold;
	font-size: 2.5em;
	color: #123c81;
}

h2 {
	font-size: 1.8em;
	color: #000;
}

h3 {
	font-size: 1.5em;
	color: #FFF;
	font-style: italic;
}

p {
	font-family: "Verdana", sans-serif;
	font-size: 1em;
	line-height: 160%;
}

a:link, a:visited, a:hover {
	color: #123cd1;
}

li {
	font-family: "Verdana", sans-serif;
	font-size: 1em;
	line-height: 160%;
	padding-bottom: 5px;
}



/* Header Styles
---------------------------------------------------------------------------------------------------- */

.headerNav ul {
	list-style: none;
	margin: 0;
	padding: 0;
	position: absolute;
	right: 80px;
	top: 12px;
}

.headerNav ul li {
	display: inline;
	padding: 24px 15px 23px 15px;
	font-size: 0.95em;
}

.headerNav ul li a,
.headerNav ul li a:visited {
	color: #FFF;
	padding: 15px 0 15px 0;
}

.headerNav ul li:hover {
	background: rgba(0, 56, 140, 0.8);
}

.headerNav a {
	text-decoration: none;
	font-size: 1.1em;
}

.headerWrapper {
	background: #000;
	padding: 10px 0 10px 0;
	position: fixed;
	width: 100%;
	z-index: 99;
}

.hero {
	width: 100%;
	height: 550px;
	z-index: -1;
	background-position: center center;
	background-size: cover;
	margin-bottom: 50px;
}

.headerNav ul {
	border-right: 1px solid #FFF;
	padding-right: 20px;
}

.searchIcon {
	float: right;
	padding-top: 7px;
}

.searchWrapper {
	display: none;
}

.searchWrapper.showForm {
	display: block;
	position: absolute;
	right: 0px;
	top: 65px;
	width: 300px;
}

.searchMenu {
	display: none;
}

.burgerButton {
	display: none;
}



/* Body Styles
---------------------------------------------------------------------------------------------------- */

.pageTitle {
	margin-bottom: 10px;
}

.content p {
	margin: 10px 0 0 0;
}

.blogList {
	margin: 15px 0 0 0;
}

.authorExtra {
	margin-top: 30px;
}

.authorExtra span {
	font-size: 1.1em;
}




/* Comment Styles
---------------------------------------------------------------------------------------------------- */

.commentlist {
	list-style: none;
	margin: 0;
	padding: 0;
}

.comment-awaiting-moderation {
	display: none;
}

.commentlist br {
	display: none;
}

.comment-author {
	background: #123c81;
	padding: 0 0 10px 15px;
}

.author.vcard a {
    margin-left: 0;
    padding-left: 0;
}

.comment-meta {
	background: #123c81;
	padding-top: 0;
    padding-left: 67px;
    margin-top: -20px;
    padding-bottom: 10px;
}

.comment-meta a {
	color: #FFF;
}

.fn {
	margin-left: 15px;
	color: #FFF;
}

.says {
	color: #FFF;
}

.avatar {
	margin: 15px 0 0 0;
}

.thread-even, .thread-odd {
	margin-bottom: 30px;
}

.comment-body {
	background: #CCC;
}

.comment-body p {
	padding-top: 10px;
	padding-bottom: 10px;
	margin-left: 15px;
}

.reply {
	margin: 10px 0 0 15px;
	padding-bottom: 15px;
}

#comment {
    width: 100%;
    margin-bottom: 10px;
}

#author {
    width: 100%;
    margin-bottom: 10px;
}

#email {
    width: 100%;
    margin-bottom: 10px;
}

#url {
    width: 100%;
    margin-bottom: 10px;
}

#reply-title {
    display: none;
}




/* Sidebar Styles
---------------------------------------------------------------------------------------------------- */

.sidebarTitle {
	color: #FFF;
	background: #123c81;
	padding: 5px 0 5px 20px;
	font-size: 1.5em;
}

.textwidget {
	background: #DEDDDD;
	padding: 10px 20px 0 20px;
	font-size: 1em;
}

.textwidget ul {
	margin: 0;
	padding: 0;
	list-style: none;
	padding-bottom: 10px;
}

.textwidget ul li {
	padding: 2px 0 2px 0;
}

.sidebarWrapper {
	margin-bottom: 30px;
	margin-top: 20px;
}



/* Footer Styles
---------------------------------------------------------------------------------------------------- */

.footerNav a {
	color: #FFF;
}

.footerWrapper {
	background: #0b0b0b;
	margin-top: 30px;
	padding-top: 30px;
}

.footerNav ul {
	list-style: none;
	margin: 0;
	padding: 0;
	margin-bottom: 30px;
	margin-left: 70px;
}

.footerNav ul li {
	color: #FFF;
	padding: 15px 0 15px 0;
}

.socialMedia ul {
	list-style: none;
	margin: 0;
	padding: 0;
	padding-top: 15px;
	margin-left: 70px;
}

.socialMedia ul li {
	display: inline;
	padding-left: 5px;
}

.copyright {
	border-top: 2px solid rgba(0, 56, 140, 0.5);
}

.copyright a {
	color: #FFF;
}

.copyright p {
	margin: 20px 0 10px 0;
	color: #FFF;
	text-align: center;
	font-size: 0.9em;
}

/* Responsive Styles
---------------------------------------------------------------------------------------------------- */

/* Large Desktops - lg */
@media (min-width: 1200px) { 

	/* Place any styles specific to large destop screens here */
  
}

/* Landscape Tablets / Small Desktops - md */
@media (max-width: 1199px) { 

	/* Place any styles that are specific to tablets and small desktops here */
	
}

/* Portrait Tablets - sm */
@media (max-width: 991px) { 

	/* Place any styles that are specific to portrait tablets here */
	
	.headerNav ul {
		position: static;
		border: none;
		margin: 0;
		padding: 0;
	}

	.headerNav ul li {
		display: block;
	}

	.searchIcon {
		display: none;
	}

	.headerNav {
		display: none;
	}

	.headerNav.showMenu {
		display: block;
	}

	.logo {
		display: block;
		margin: 0 auto;
	}

	.burgerButton {
		display: block;
	    width: 32px;
	    height: 25px;
	    position: absolute;
	    left: 15px;
	    margin-top: 10px;
   }

   .searchMenu {
   		display: block;
	   	position: absolute;
	   	right: 15px;
	   	top: 8px;
	   	margin: 0;
	   	padding: 0;
   }

   .searchWrapper.showForm {
		display: block;
		position: absolute;
		right: 0px;
		top: 65px;
		width: 100%;
	}

	.headerNav ul {
		margin-top: 30px;
	}

	.headerNav ul li {
		padding: 15px 0 15px 0;
		text-align: center;
	}

	.footerNav ul {
		text-align: center;
		margin: 0;
		padding: 0;
		border-bottom: 2px solid rgba(0, 56, 140, 0.5);
	}

	.footerNav ul li {
		padding: 18px 0 18px 0;
		font-size: 1.05em
	}

	.socialMedia ul {
		padding: 0;
		margin: 0;
		text-align: center;
		margin-top: 18px;
		margin-bottom: 18px;
	}

	.socialMedia ul li {
		padding: 0 5px 0 5px;
	}

	.copyright {
		border-top: 2px solid rgba(0, 56, 140, 0.5);
		margin: 0 15px 0 15px;
	}
}

/* Landscape Mobile Phones - xs */
@media (max-width: 767px) {

	/* Place styles that are specific to landscape phones here */

}

/* Portrait Mobile Phones - xs */
@media (max-width: 480px) { 

	/* Place any styles that are specific to mobile phones here */

}