/* Default Styles
---------------------------------------------------------------------------------------------------- */

.fluid {
	width: 100%;
	height: auto;
}



/* Header Styles
---------------------------------------------------------------------------------------------------- */

.headerNav ul {
	list-style: none;
	margin: 0;
	padding: 0;
	position: absolute;
	right: 15px;
	top: 12px;
}

.headerNav ul li {
	display: inline;
	padding: 25px 15px 25px 15px;
}

.headerNav ul li a,
.headerNav ul li a:visited {
	color: #FFF;
	padding: 15px 0 15px 0;
}

.headerNav ul li:hover {
	background: rgba(0, 56, 140, 0.8);
}

.headerNav a {
	text-decoration: none;
}

.headerWrapper {
	background: rgba(0,0,0,.8);
	padding: 10px 0 10px 0;
	margin-bottom: 520px;
}

.hero {
	width: 100%;
	height: 550px;
	position: absolute;
	z-index: -1;
	background-position: center center;
	background-size: cover;
}



/* Body Styles
---------------------------------------------------------------------------------------------------- */




/* Footer Styles
---------------------------------------------------------------------------------------------------- */




/* Responsive Styles
---------------------------------------------------------------------------------------------------- */

/* Large Desktops - lg */
@media (min-width: 1200px) { 

	/* Place any styles specific to large destop screens here */
  
}

/* Landscape Tablets / Small Desktops - md */
@media (max-width: 1199px) { 

	/* Place any styles that are specific to tablets and small desktops here */

}

/* Portrait Tablets - sm */
@media (max-width: 991px) { 

	/* Place any styles that are specific to portrait tablets here */

}

/* Landscape Mobile Phones - xs */
@media (max-width: 767px) {

	/* Place styles that are specific to landscape phones here */

}

/* Portrait Mobile Phones - xs */
@media (max-width: 480px) { 

	/* Place any styles that are specific to mobile phones here */

}